<div class="col-lg-4 footer-data">
  <h3>台灣休閒農業發展協會 </h3>
  <dl class="form-row">
    <dt class="col-3">會址</dt>
    <dd class="col-9"><address>26057宜蘭縣宜蘭市陽明二路23巷2號三樓</address></dd>
    <dt class="col-3">代表號</dt>
    <dd class="col-9">03-938-1269</dd>
    <dt class="col-3">傳真</dt>
    <dd class="col-9">03-938-2610</dd>
    <dt class="col-3">客服信箱</dt>
    <dd class="col-9">abc@test.com.tw</dd>
    <dt class="col-3">上班時間</dt>
    <dd class="col-9">09:00-12:30 & 13:30-18:00 <br>《逢週六、日及國定例假日公休》</dd>
  </dl>
</div>