<div class="col-lg-8 d-none d-lg-flex footer-links">
  <div>
    <h5><a href="#">最新消息</a></h5>
    <ul class="list-unstyled">
      <li><a href="#">協會訊息</a></li>
      <li><a href="#">國際報導</a></li>
      <li><a href="#">國內報導</a></li>
      <li><a href="#">產業活動</a></li>
      <li><a href="#">職能培訓</a></li>
    </ul>
  </div>
  <div>
    <h5><a href="#">關於協會</a></h5>
    <ul class="list-unstyled">
      <li><a href="#">簡介</a></li>
      <li><a href="#">農業旅遊吉祥物</a></li>
      <li><a href="#">理監事會</a></li>
      <li><a href="#">委員會</a></li>
      <li><a href="#">秘書處</a></li>
      <li><a href="#">出版品</a></li>
      <li><a href="#">休閒農業大事記</a></li>
    </ul>
  </div>
  <div>
    <h5><a href="#">產業發展</a></h5>
    <ul class="list-unstyled">
      <li><a href="#">休閒農業法規</a></li>
      <li><a href="#">輔導團</a></li>
      <li><a href="#">國際交流</a></li>
      <li><a href="#">食農教育</a></li>
      <li><a href="#">產業六級化</a></li>
    </ul>
  </div>
  <div>
    <h5><a href="#">市場行銷</a></h5>
    <ul class="list-unstyled">
      <li><a href="#">國際市場</a></li>
      <li><a href="#">國內市場</a></li>
    </ul>
  </div>
  <div>
    <h5><a href="#">相關連結</a></h5>
    <ul class="list-unstyled">
      <li><a href="#">相關連結</a></li>
    </ul>
  </div>
</div>