<div class="top-nav">
  <div class="container">
    <div class="navbar top-links">
      <a class="nav-item nav-link" href="landing.html">入口頁</a>
      <a class="nav-item nav-link" href="#">Facebook</a>
      <a class="nav-item nav-link" href="sitemaps.html">網站地圖</a>
      <a class="nav-item nav-link" href="#">聯絡我們</a>
      <a class="nav-item nav-link" href="#">English</a>
      <div class="nav-item dropdown langs">
        <a class="nav-link dropdown-toggle" href="#" id="lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div class="dropdown-menu langs-list" aria-labelledby="lang">
            <a class="dropdown-item d-lg-none" href="#">English</a>
          <a class="dropdown-item" href="#">日本語</a>
          <a class="dropdown-item" href="#">Korea</a>
          <a class="dropdown-item" href="#">Vietnam</a>
          <a class="dropdown-item" href="#">Thailand</a>
        </div>
      </div>
    </div>
    <div class="form-inline g-search">
      <div class="input-group">
        <input type="text" class="form-control g-input" placeholder="全站搜尋" aria-label="Globalsearch" aria-describedby="全站搜尋">
      </div>
      <a class="input-group-append g-btn" href="#">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </a>
    </div>
  </div>
</div>